@import 'settings', 'mixins';

.button--user{
  display: flex !important;
  height: 100%;
  align-content: center;
  align-items: center;
  line-height: 1.2rem !important;
  gap: 10px;
  min-width:240px;
  box-sizing:border-box;
  .haven__user--content{
    display:inline;
    text-align:left !important;
    font-weight:400;
    font-size: 14px;
    color: rgba(0,0,0,.87);
    font-family:Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
    span{
      display:block;
      font-weight:normal;
      color: #969696;
      font-size: 10px;
      text-transform:uppercase;
    }
  }
  .haven__user--icon{
    display:inline-block;
    width: 35px;
    height: 35px;
    border-radius: 500rem;
    overflow:hidden;
  }
  &:hover{
    .haven__user--content,.haven__user--content span{
      color:#FFFFFF;
    }
  }
}
.login-alert {  
	display: block;
	padding: 20px;
	background-color: #fff9e9;
	border: 2px dashed #fde30d;
	margin: 20px 0;
  p,h2,h3{color:rgba(0, 0, 0, 0.6)}
  h2:first-child,h3:first-child{margin-top:0;} 
}